{% extends 'base_generic.html' %}

{% block page-content %}
<div class="page-content">
    <div class="row">
        <div class="col-lg-5">
            <div class="checkbox-toggle">
                <input type="checkbox" id="bl_consolidate" onclick="bl_consolidate_change(0)" checked/>
                <label for="bl_consolidate">Reporte consolidado</label>
            </div><!--checkbox-toggle-->
        </div><!--col-lg-5-->
        <div class="col-lg-7">
            <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn">
                        <input type="radio" name="time_unit" id="rb_na" value="0"> No agregado
                    </label>
                    <label class="btn">
                        <input type="radio" name="time_unit" id="rb_hours" value="1"> Horas
                    </label>
                    <label class="btn">
                        <input type="radio" name="time_unit" id="rb_days" value="2"> Días
                    </label>
                    <label class="btn">
                        <input type="radio" name="time_unit" id="rb_weeks" value="3"> Semanas
                    </label>
                    <label class="btn">
                        <input type="radio" name="time_unit" id="rb_months" value="4"> Meses
                    </label>
                    <label class="btn">
                        <input type="radio" name="time_unit" id="rb_years" value="5"> Años
                    </label>
                </div><!--btn-group-->
            </div><!--form-group-->
        </div><!--col-lg-7-->
    </div><!--row m-t-lg-->

    <section class="widget widget-accordion" id="accordion" role="tablist" aria-multiselectable="false">
        <article class="panel">
            <div class="panel-heading" role="tab" id="headingOne">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">
                Variables
                    <i class="font-icon font-icon-arrow-down"></i>
                </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                <div id="variables_list" class="variables-block"></div>
                <div class="card-block">
                    <div class="col-variables">
                        <a id="btn_consultar" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="btn green" onclick="variables.create_query(0)">Consultar</a>
                    </div><!--col-variables-->
                </div><!--card-block-->
            </div><!--collapseOne-->
        </article>
    </section>
    <div id="chartsArea" class="container-fluid" style="background-color:#FFFFFF"></div><!--.container-fluid-->
</div><!--.page-content-->
{% endblock page-content %}
{% block aditional-js %}
<script>reports[0].load()</script>
{% endblock aditional-js %}