{% load i18n static %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block title %}
    <title>DashBoard Avicetec</title>
    {% endblock title %}
    <link href="{% static 'img/favicon.144x144.png' %}" rel="apple-touch-icon" type="image/png" sizes="144x144">
    <link href="{% static 'img/favicon.114x114.png' %}" rel="apple-touch-icon" type="image/png" sizes="114x114">
    <link href="{% static 'img/favicon.72x72.png' %}" rel="apple-touch-icon" type="image/png" sizes="72x72">
    <link href="{% static 'img/favicon.57x57.png' %}" rel="apple-touch-icon" type="image/png">
    <link href="{% static 'img/favicon.png' %}" rel="icon" type="image/png">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{% static 'css/separate/vendor/lobipanel.min.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'css/separate/vendor/bootstrap-daterangepicker.min.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'css/lib/jqueryui/jquery-ui.min.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'css/separate/pages/widgets.min.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'css/lib/font-awesome/font-awesome.min.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'css/separate/custom/advicetec.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'css/separate/custom/graph.css' %}" rel="stylesheet" media="all" />
</head>

{% block body-content %}
<body class="with-side-menu control-panel-compact">

	{% block site-header %}
	<header class="site-header">
	    <div class="container-fluid">
	
	        <a href="#" class="site-logo">
	            <img class="hidden-md-down" src="{% static 'img/logo-2.png' %}" alt="">
	            <img class="hidden-lg-up" src="{% static 'img/logo-2-mob.png' %}" alt="">
	        </a>
	
	        <button id="show-hide-sidebar-toggle" class="show-hide-sidebar">
	            <span>toggle menu</span>
	        </button>
	
	        <button class="hamburger hamburger--htla">
	            <span>toggle menu</span>
	        </button>
	        <div class="site-header-content">
	            <div class="site-header-content-in">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div id="div_daterange" class="input-group date">
                                    <input id="daterange" type="text" class="form-control">
                                    <span class="input-group-addon">
                                    <i id="iDaterange" class="font-icon font-icon-calend"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
	                <div class="site-header-shown">
	                {% block notif-list %}
	                    <div class="dropdown dropdown-notification notif">
	                        <a href="#"
	                           class="header-alarm dropdown-toggle active"
	                           id="dd-notification"
	                           data-toggle="dropdown"
	                           aria-haspopup="true"
	                           aria-expanded="false">
	                            <i class="font-icon-alarm"></i>
	                        </a>
	                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-notif" aria-labelledby="dd-notification">
	                            <div class="dropdown-menu-notif-header">
	                                Notifications
	                                <span class="label label-pill label-danger">4</span>
	                            </div>
	                            <div class="dropdown-menu-notif-list">
	                            </div>
	                            <div class="dropdown-menu-notif-more">
	                                <a href="#">See more</a>
	                            </div>
	                        </div>
	                    </div>
	                {% endblock notif-list %}
	                    <div class="dropdown dropdown-lang">
	                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                            <span class="flag-icon flag-icon-us"></span>
	                        </button>
	                        <div class="dropdown-menu dropdown-menu-right">
	                            <div class="dropdown-menu-col">
	                                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-es"></span>Español</a>
	                            </div>
	                            <div class="dropdown-menu-col">
	                                <a class="dropdown-item current" href="#"><span class="flag-icon flag-icon-us"></span>English</a>
	                            </div>
	                        </div>
	                    </div>
	
	                    <div class="dropdown user-menu">
	                        <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                            <img src="{% static 'img/avatar-2-64.png' %}" alt="">
	                        </button>
	                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
	                            <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-user"></span>Profile</a>
	                            <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-cog"></span>Settings</a>
	                            <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-question-sign"></span>Help</a>
	                            <div class="dropdown-divider"></div>
	                            <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-log-out"></span>Logout</a>
	                        </div>
	                    </div>
	                </div><!--.site-header-shown-->
	                <div class="mobile-menu-right-overlay"></div>
	            </div><!--site-header-content-in-->
	        </div><!--.site-header-content-->
	    </div><!--.container-fluid-->
	</header><!--.site-header-->
	{% endblock site-header %}	

	<div class="mobile-menu-left-overlay"></div>
	{% block side-menu %}
	<nav class="side-menu">
	<section>
            <header class="side-menu-title">Plantas</header>
	    <ul id="plant_list" class="side-menu-list">
	    </ul>
	<section>
         <section>
            <header class="side-menu-title">Reportes</header>
            <ul class="side-menu-list">
                <li>
                    <a id="report1" onclick="load_report(this)" value="0">
                        <i class="tag-color green"></i>
                        <span class="lbl" >Evolución de variables</span>
                    </a>
                </li>
                <li>
                    <a id="report2" onclick="load_report(this)" value="1">
                        <i class="tag-color green"></i>
                        <span class="lbl" >Razones de inactividad</span>
                    </a>
                </li>
            </ul>
	    </section>
	</nav><!--.side-menu-->
	{% endblock side-menu %}

	{% block page-content %}
	{% endblock page-content %}

	<script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'data/data_consolidated.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/tether/tether.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/bootstrap/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/jqueryui/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/jqueryui/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/underscore/underscore-min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/match-height/jquery.matchHeight.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/moment/moment-with-locales.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/daterangepicker/daterangepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/chartjs/Chart.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/avicetec/template_data.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/avicetec/reports.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
</body>
{% endblock body-content %}
{% block aditional-js %}
{% endblock aditional-js %}
</html>
